---
import Card from "../components/dynamic/Card.astro";
import Pagination from "../components/dynamic/Pagination.astro";
import Carousel from "../components/static/Carousel.astro";
import Layout from "../layouts/Layout.astro"
import type {Anime, Episode} from "../type";

const page:number = 1;
const responseEpisode = await fetch(`https://samehadaku-api-man.vercel.app?page=${page}`,{
	method:"get"
});
const responseAnime = await fetch(`https://samehadaku-api-man.vercel.app/anime?page=${page}&order=update`,{
	method:"get"
});
const episodes:Episode[] = await responseEpisode.json();
const animes:Anime[] = await responseAnime.json();
---

<Layout title="Nonton Anime Terbaru - Episode dan Season Lengkap Tanpa Iklan" >

	
	<h1 class="fs-4 mt-3" >Nonton Anime Terbaru Semua Season dan Episode Tanpa Iklan</h1>

	<div class="row mt-3">
		{episodes.map((episode) => {
			return <div class="col-12 col-md-3 my-1 mb-3">
                <Card link={`/episode/${episode.slug}`} title={episode.title} image={episode.image} description={episode.date} />
			</div>
		})}
	</div>
	
    <div class="d-flex justify-content-end mt-3" data-bs-theme="">
        <Pagination page={page} link="/episode" />
    </div>

    <h2 class="fs-4 mt-4">Anime Anime Terbaru</h2>

    <div class="row mt-3">
		{animes.map((anime) => {
			return <div class="col-12 col-md-4 my-1 mb-3">
                <Card link={`/anime/${anime.slug}`} title={anime.title} image={anime.image} description={anime.synopsis} type="anime" />
			</div>
		})}
	</div>

    <div class="d-flex justify-content-end mt-3" data-bs-theme="">
        <Pagination page={page} link="/anime" />
    </div>

	
</Layout>